/* stylelint-disable */
@font-face {
  font-family: "made";
  src: url("madeitalic.woff2") format("woff2"),
    url("madeitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "made";
  src: url("made.woff2") format("woff2"), url("made.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "madeoutline";
  src: url("madeoutlineitalic.woff2") format("woff2"),
    url("madeoutlineitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "madeoutline";
  src: url("madeoutline.woff2") format("woff2"),
    url("madeoutline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nikkyou";
  src: url("Nikkyou-Sans.woff2") format("woff2"),
    url("Nikkyou-Sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Black.woff2") format("woff2"),
    url("SFProDisplay-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Bold.woff2") format("woff2"),
    url("SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Heavy.woff2") format("woff2"),
    url("SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Light.woff2") format("woff2"),
    url("SFProDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Medium.woff2") format("woff2"),
    url("SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Regular.woff2") format("woff2"),
    url("SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Semibold.woff2") format("woff2"),
    url("SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Thin.woff2") format("woff2"),
    url("SFProDisplay-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Ultralight.woff2") format("woff2"),
    url("SFProDisplay-Ultralight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
